

NET "led0" LOC=T9 | IOSTANDARD=LVCMOS33 | DRIVE=24 | SLEW=QUIETIO;
NET "led1" LOC=R9 | IOSTANDARD=LVCMOS33 | DRIVE=24 | SLEW=QUIETIO;

//NET "btn0" LOC=T8 | IOSTANDARD=LVCMOS33;
//NET "btn1" LOC=R7 | IOSTANDARD=LVCMOS33;

//NET "uartTx" LOC=E12 | IOSTANDARD=LVCMOS33 | DRIVE=24 | SLEW=QUIETIO;
NET "uartRx" LOC=E13 | IOSTANDARD=LVCMOS33;

NET "clk50" LOC=A10 | IOSTANDARD=LVCMOS33;

NET "clk50" TNM_NET = "PRDclk50";
TIMESPEC "TSclk50" = PERIOD "PRDclk50" 50 MHz;
#TIMESPEC "TSclk50" = PERIOD "PRDclk50" 20.0 ns HIGH 50%;
