NET "LED0" LOC=T9 | IOSTANDARD=LVTTL | DRIVE=24 | SLEW=QUIETIO;
NET "LED1" LOC=R9 | IOSTANDARD=LVTTL | DRIVE=24 | SLEW=QUIETIO;

NET "SDRAM_CLK"    LOC=H1 | IOSTANDARD=LVTTL;
NET "SDRAM_CKE"    LOC=J1 | IOSTANDARD=LVTTL;
NET "SDRAM_DQM[0]" LOC=F3 | IOSTANDARD=LVTTL;
NET "SDRAM_DQM[1]" LOC=H2 | IOSTANDARD=LVTTL;
NET "SDRAM_CSn"    LOC=J3 | IOSTANDARD=LVTTL;
NET "SDRAM_RASn"   LOC=J4 | IOSTANDARD=LVTTL;
NET "SDRAM_CASn"   LOC=H3 | IOSTANDARD=LVTTL;
NET "SDRAM_WEn"    LOC=G3 | IOSTANDARD=LVTTL;
NET "SDRAM_BA[0]"  LOC=K3 | IOSTANDARD=LVTTL;
NET "SDRAM_BA[1]"  LOC=K2 | IOSTANDARD=LVTTL;
NET "SDRAM_A[0]"   LOC=L4 | IOSTANDARD=LVTTL;
NET "SDRAM_A[1]"   LOC=M3 | IOSTANDARD=LVTTL;
NET "SDRAM_A[2]"   LOC=M4 | IOSTANDARD=LVTTL;
NET "SDRAM_A[3]"   LOC=N3 | IOSTANDARD=LVTTL;
NET "SDRAM_A[4]"   LOC=R2 | IOSTANDARD=LVTTL;
NET "SDRAM_A[5]"   LOC=R1 | IOSTANDARD=LVTTL;
NET "SDRAM_A[6]"   LOC=P2 | IOSTANDARD=LVTTL;
NET "SDRAM_A[7]"   LOC=P1 | IOSTANDARD=LVTTL;
NET "SDRAM_A[8]"   LOC=N1 | IOSTANDARD=LVTTL;
NET "SDRAM_A[9]"   LOC=M1 | IOSTANDARD=LVTTL;
NET "SDRAM_A[10]"  LOC=L3 | IOSTANDARD=LVTTL;
NET "SDRAM_A[11]"  LOC=L1 | IOSTANDARD=LVTTL;
NET "SDRAM_A[12]"  LOC=K1 | IOSTANDARD=LVTTL;
NET "SDRAM_D[0]"   LOC=A3 | IOSTANDARD=LVTTL;
NET "SDRAM_D[1]"   LOC=A2 | IOSTANDARD=LVTTL;
NET "SDRAM_D[2]"   LOC=B3 | IOSTANDARD=LVTTL;
NET "SDRAM_D[3]"   LOC=B2 | IOSTANDARD=LVTTL;
NET "SDRAM_D[4]"   LOC=C3 | IOSTANDARD=LVTTL;
NET "SDRAM_D[5]"   LOC=C2 | IOSTANDARD=LVTTL;
NET "SDRAM_D[6]"   LOC=D3 | IOSTANDARD=LVTTL;
NET "SDRAM_D[7]"   LOC=E3 | IOSTANDARD=LVTTL;
NET "SDRAM_D[8]"   LOC=G1 | IOSTANDARD=LVTTL;
NET "SDRAM_D[9]"   LOC=F1 | IOSTANDARD=LVTTL;
NET "SDRAM_D[10]"  LOC=F2 | IOSTANDARD=LVTTL;
NET "SDRAM_D[11]"  LOC=E1 | IOSTANDARD=LVTTL;
NET "SDRAM_D[12]"  LOC=E2 | IOSTANDARD=LVTTL;
NET "SDRAM_D[13]"  LOC=D1 | IOSTANDARD=LVTTL;
NET "SDRAM_D[14]"  LOC=C1 | IOSTANDARD=LVTTL;
NET "SDRAM_D[15]"  LOC=B1 | IOSTANDARD=LVTTL;

NET "clk50" LOC=A10 | IOSTANDARD=LVTTL;
NET "clk50" TNM_NET="PRDclk50";
TIMESPEC "TSclk50"=PERIOD "PRDclk50" 50 MHz;