NET "led0" LOC=T9 | IOSTANDARD=LVCMOS33 | DRIVE=24 | SLEW=QUIETIO;
NET "led1" LOC=R9 | IOSTANDARD=LVCMOS33 | DRIVE=24 | SLEW=QUIETIO;
NET "clk" LOC=A10 | IOSTANDARD=LVCMOS33;

NET "clk" TNM_NET = "PRDclk";
TIMESPEC "TSclk" = PERIOD "PRDclk" 50 MHz;
